.option:hover {
    text-decoration: 1.5px black underline;
}

i:hover {
    cursor: pointer;
}

.surface-com-box:hover {
    cursor: pointer;
}

#nav-micro-option:hover {
    text-decoration: 1.5px black underline;
}

button:hover {
    cursor: pointer;
}

a {
    display: inline-block;
}

ul a:hover {
    color: black;
    text-decoration: underline;
}